div {
  border: none;
}

.ctafacts button {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  font-size: medium;
  border: none;
  color: #FAF9F6;
  background-color: #3a5a40;
  font-family: poppins;
  font-weight: medium;
}

.ctafacts button i {
  color: #FAF9F6;
  margin: auto;
  font-size: medium;

  font-weight: medium;
}

.slideshow-wrapper {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 20px;
  border: none;
  border-radius: 20px;
}

.slideshow-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: none;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.6s ease-in-out;
  image-rendering: auto;
  backface-visibility: hidden;
  transform: translateZ(0);
  border-radius: 20px;
  border: none;
}

.overlay {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: #FAF9F6;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border: none;
}

.slide:hover .overlay {
  opacity: 1;
}

.slide-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  opacity: 1;
  display: 1;
}

.slide-description {
  font-size: 1rem;
  line-height: 1.4;
  width: 100%;
  opacity: 1;
}

.slide:hover .slide-description {
  opacity: 1;
  transition: 0.2s;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #FAF9F6;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: background 0.3s;
  transition: 0s;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-button.left {
  left: 1rem;
}

.nav-button.right {
  right: 1rem;
}

.dot-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #FAF9F6;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.progress-bar::before {
  content: '';
  display: block;
  height: 100%;
  width: 0%;
  background-color: #FAF9F6;
  transition: none;
}

.active-progress::before {
  animation: fillBar 5s linear forwards;
}

@keyframes fillBar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.6s ease-in-out;
    image-rendering: optimizeQuality;
    backface-visibility: hidden;
    transform: translateZ(0);
    border-radius: 20px;
    border: none;
  }

  .slideshow-wrapper {
    position: relative;
    width: 99%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 20px;
    border: none;
    border-radius: 20px;
    padding: 0.5%;
  }

  .slideshow-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: none;
  }

}

@media (max-width: 768px) {
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.6s ease-in-out;
    image-rendering: optimizeQuality;
    backface-visibility: hidden;
    transform: translateZ(0);
    border-radius: 20px;
    border: none;
  }

  .slideshow-wrapper {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 20px;
    border: none;
    border-radius: 20px;
  }

  .slideshow-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: none;
  }
}

@media (max-width: 480px) {
  .slideshow-wrapper {
    position: relative;
    width: 99%;
    height: 770px;
    overflow: hidden;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 20px;
    border: none;
    border-radius: 20px;
    padding: 0.5%;
  }

  .slideshow-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 770px;
    width: 100%;
    border-radius: 20px;
    border: none;
  }

  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.6s ease-in-out;
    image-rendering: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
    border-radius: 20px;
    border: none;
  }

  .slide-description {
    font-size: small;
    line-height: 1.4;
    width: 90%;
    opacity: 1;
    padding: 10px;
  }

  .slide-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    opacity: 1;
    display: 1;
    padding: 10px;
  }
}